/*body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}*/

#profile-picture{ 
    height: 5rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#project-name{
    display: inline-block;
    vertical-align: middle;
}

.contact{
  margin-bottom: 1rem;
}

.contact a{
  color: white;
}

i{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  opacity: 0.7;
}

i:hover{
  opacity: 1;
}


